@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
.Nav{
position: absolute;
font-family: 'Bebas Neue', sans-serif;
    top: 0;
    width: 25vw;
    height: 100vh;
    background-image: url(./d4v9zb4-e8e1cbf4-134e-450a-b5f2-ededf8d96c3c.jpg);
    background-position-x:-120px ;
    background-position-y:0vh ;
    background-size: 800px;
   overflow: visible;
    border-right: 4px solid rgb(27, 27, 27);
    border-radius: 1%;
}
@keyframes scale-animation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.05);
  }
}

.Img {
  top: 5px;
  z-index: 3;
  position: relative;
  left: 25px;
  width: 350px;
  height: 120px;
  animation: scale-animation 2s ;
}
.ImgHome{
  z-index: 3;
    position: relative;
    width: 100px;
    height: 100px;
    left: 280px;
}
@keyframes wobble {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    75% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .ImgHome.tambaleo {
    animation: wobble 1s steps(24) infinite;
  }
  
.PHome{
  z-index: 3;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    position: absolute;
    top: 18.6vh;
    left: 3.7vw;
    background: transparent;
    animation: pulse 0.5s;
    animation-iteration-count: 1;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}
.hr2{
  opacity: 0;
  z-index: 3;
    position: relative;
    top: -10px;
}

.ImgCards{
  z-index: 3;
position: absolute;
width: 100px;
height: 100px;
top: 33vh;
left: 280px;
}
@keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  .ImgCards:hover {
    z-index: 3;
    animation: shake 0.5s ease-in-out infinite, bounce 1s ease-in-out infinite;
  }
  
.PCards{
  z-index: 3;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    position: relative;
    top: 2.4vh;
    left: 3.4vw;
    background: transparent;
    animation: pulse 0.5s;
    animation-iteration-count: 1;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.PAbout{
  z-index: 3;
    padding: 2px 2px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    position: relative;
    top: 9.1vh;
    left: 6vw;
    background: transparent;
    animation: pulse 0.5s;
    animation-iteration-count: 1;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}
.hr3{
  opacity: 0;
    position: relative;
    top: 50px;
}
.ImgAbout {
  z-index: 3;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 49vh;
  left: 280px;
  transition: transform 0.3s ease-in-out;
}
.Nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ImgAbout:hover {
  transform: translateX(-100%);
  animation: moveImage 2s infinite;
}
@keyframes moveImage {
  0% {
    transform: translateX(0) translateY(0) rotate(0) scale(1);
  }
  20% {
    transform: translateX(-50px) translateY(-10px) rotate(-5deg) scale(1.25);
  }
  40% {
    transform: translateX(-300px) translateY(-200px) rotate(10deg) scale(1.5);
  }
  60% {
    transform: translateX(-800px) translateY(-500px) rotate(-15deg) scale(1.75);
  }
  80% {
    transform: translateX(-1200px) translateY(-800px) rotate(10deg) scale(2);
  }
  100% {
    transform: translateX(-2000px) translateY(-1200px) rotate(-5deg) scale(2.25);
  }
}




  @keyframes scale-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .NavLinkAnimation {
    animation: scale-animation 0.5s linear;
  }
  .Difuminado{
    position: relative;
    top: -340px;
    border-radius: 5%;
    left: 2.5px;
    height: 63vh;
    width: 24.5vw;
    z-index: 1;

    background-color: rgba(40, 37, 37, 0.5); /* Color de fondo con transparencia */
  backdrop-filter: blur(5px); /* Difuminado */
  }
  .NavLink{
    font-size: 1.3em;
    font-family: 'Covered By Your Grace', cursive;
    color: rgb(0, 0, 0);
  }
  .Curita1{
    scale: .65;
    z-index: 2;
    position:absolute;
    top: 39vh;
    left: -2vh;
    rotate:-56deg;
  }
  .Curita2{
    scale: .65;
    z-index: 1;
    position:absolute;
    top: 22vh;
    left: -.8vh;
    rotate:-32deg;
  }
  .Curita3{
    scale: .65;
    z-index: 1;
    position:absolute;
    top: 6.3vh;
    left: -2vh;
    rotate:-40deg;
  }
  
  .PFav{
    padding: 0px;
    position: absolute;
    top: 35vh;
    left: 10.8vw;
    font-size: 3em;
    z-index: 40;
    background: transparent;
    animation: pulse 0.5s;
    animation-iteration-count: 1;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
  }
  .NavLink:hover{
    color: rgb(218, 42, 42);
  }
  
  
  
  