.HomeDiv{
    position: relative;
    top: 0vh;
    left: 0vh;
    width: 100vw;
    height: 100vh;
    background: url('./HomeVideo.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

.HomeDifuminado{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 28, 28, 0.5); 
    backdrop-filter: blur(5px)
}
.HomePage{
    overflow: visible;
    position: absolute;
    top: 8vh;
    left: 5vw;
    width: 90vw;
    height: 90vh;
    border-radius: 1%;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px)
}
.pintTV{
    overflow: visible;
    position: absolute;
    width: 25vw;
    height: 25vh;
    background: url('./HomeVideo.gif');
    background-size: 25vw;
    background-position-y: -5vh ;
    background-position-x: -4.5vh ;
    z-index: 4;
    border-radius: 5%;
    top: 8vh;
    left: 67vw;
}
.tv{overflow: visible;
    background-image: url(./tvHome.png);
    background-size: 30vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 0vh;
    left: 65vw;
    width: 40vw;
    height: 65vh;
    z-index: 30;
}
.tvInterference{
    background-image: url(./mLkoda.gif);
    background-size: 30vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 0vh;
    left: 67vw;
    width: 25vw;
    height: 40vh;
    z-index:5;
    opacity: 0;
    border-radius: 35%;
}

.tv:hover + .tvInterference {
    opacity: 0.6;
}
@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5%);
    }
  }

  @keyframes pop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .TituloContainer {
    position: absolute;
    top: -18vh;
    left: 38vw;
    width: 23vw;
    height: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8;
    overflow: visible;
    transition: transform 0.5s;
  }
  
  .TituloHome {
    background-image: url(./citadel_Logo.png);
    background-size: 25vw;
    width: 25vw;
    height: 25vw;
    background-repeat: no-repeat;
    animation: bounce 2s infinite;
    transition: transform 2.5s;
  }
  
  .FixedContainer {
    transform: translateY(90%);
  }
  
  .TituloContainer.FixedContainer {
    position: fixed;
    transform: translateY(68%) !important;
    transform: translate .5s;
    animation: pop 0.5s;
  }
  
  .TituloContainer:hover {
    transform: translateY(55%);
  }
  
  .TituloContainer:hover .TituloHome {
    transform: translateY(0);
    transition: transform 2s;
  }
  
  .difu2 {
    position: absolute;
    left: 2.5vw;
    top: 2.5vw;
    width: 85.8vw;
    height: 80vh;
    background-color: rgba(42, 41, 41, 0.7);
    backdrop-filter: blur(5px);
    z-index: 2;
    border-radius: 1%;
  }
  .Chome{
    position: absolute;
    left: 0vw;
    background-image: url(./cardsHome.png);
    background-size: cover;
    width: 40vw;
    height: 60vh;
    bottom: 0vh;
    animation: floating 2s ease-in-out infinite alternate;
  }
  
  @keyframes floating {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(4.5vw);
    }
  }
  .ChomeC {
    left: -35vw;
    top: 76vh;
    overflow: visible;
    width: 40vw;
    height: 20vh;
    position: absolute;
    transition: transform 0.5s;
  }
  
  .ChomeC:hover {
    transform: translateX(80%);
  }
  
  .FixedContainerC {
    transform: translateX(80%);
  }