.HomeDiv{
  overflow: visible;
    position: relative;
    top: 0vh;
    left: 0vh;
    width: 100vw;
    height: 100vh;
    background: url('./HomeVideo.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

.HomeDifuminado{
  overflow: visible;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 28, 28, 0.5); 
    backdrop-filter: blur(5px)
}
.HomePage{
  overflow: visible;
    overflow: visible;
    position: absolute;
    top: 8vh;
    left: 5vw;
    width: 90vw;
    height: 90vh;
    border-radius: 1%;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px)
}
.pintTV{
    overflow: visible;
    position: absolute;
    width: 25vw;
    height: 25vh;
    background: url('./HomeVideo.gif');
    background-size: 25vw;
    background-position-y: -5vh ;
    background-position-x: -4.5vh ;
    z-index: 4;
    border-radius: 5%;
    top: 9vh;
    left: 67vw;
}
.tv{overflow: visible;
    background-image: url(./tvHome.png);
    background-size: 30vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 0vh;
    left: 65vw;
    width: 40vw;
    height: 65vh;
    z-index: 30;
}
.tvInterference{
    background-image: url(./mLkoda.gif);
    background-size: 30vw;
    background-repeat: no-repeat;
    position: absolute;
    top: 0vh;
    left: 67vw;
    width: 25vw;
    height: 40vh;
    z-index:5;
    opacity: 0;
    border-radius: 35%;
}

.tv:hover + .tvInterference {
    opacity: 0.6;
}
@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5%);
    }
  }

  @keyframes pop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .TituloContainer {
    position: absolute;
    top: -18vh;
    left: 38vw;
    width: 23vw;
    height: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8;
    overflow: visible;
    transition: transform 0.5s;
  }
  
  .TituloHome {
    background-image: url(./citadel_Logo.png);
    background-size: 25vw;
    width: 25vw;
    height: 25vw;
    background-repeat: no-repeat;
    animation: bounce 2s infinite;
    transition: transform 2.5s;
    overflow: visible;
  }
  
  .FixedContainer {
    transform: translateY(90%);
    overflow: visible;
  }
  
  .TituloContainer.FixedContainer {
    position: fixed;
    transform: translateY(60%) !important;
    transform: translate .5s;
    animation: pop 0.5s;
    overflow: visible;
  }
  
  .TituloContainer:hover {
    transform: translateY(55%);
    overflow: visible;
  }
  
  .TituloContainer:hover .TituloHome {
    transform: translateY(0);
    transition: transform 2s;
    overflow: visible;
  }
  
  .difu2 {
    position: absolute;
    left: 2.5vw;
    top: 2.5vw;
    width: 85.8vw;
    height: 80vh;
    background-color: rgba(42, 41, 41, 0.7);
    backdrop-filter: blur(5px);
    z-index: 2;
    border-radius: 1%;
    overflow: visible;
  }
  .Chome {
    position: absolute;
    left: 0vw;
    background-image: url(./cardsHome.png);
    background-size: 30vw;
    background-repeat: no-repeat;
    background: position x 50vw;
    width: 40vw;
    height: 50vh;
    bottom: 9vh;
    animation: horizontalMove 2s cubic-bezier(0.42, 0, 0.58, 1) infinite alternate;
    transition: transform 0.8s cubic-bezier(0.42, 0, 0.58, 1);
    overflow: visible;
  }
  
  @keyframes horizontalMove {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(3.5vw);
    }
  }
  
  .ChomeC {
    overflow: visible;
    left: -25vw;
    top: 60vh;
    width: 40vw;
    height: 40vh;
    position: absolute;
    transition: transform 0.5s;
  }
  
  .ChomeC:hover {
    transform: translateX(55%);
  }
  
  .portal { 
    opacity: 0;
    background-image: url(./portal.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 25vh;
    left: 30vw;
    z-index: 120;
    height: 450px;
    width: 450px;
    animation: rotate 4s infinite linear;
    transition: opacity 1s;
  }
  .portalVisible{
    opacity: 1;
    transition: opacity 1s;
  }
  
  .FixedContainerC {
    overflow: visible;
    transform: translateX(55%);
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .txtH {
    top: -5vh;
    left: -10vw;
    position: absolute;
    z-index: 100;
    transform: scale(0.7);
  }

  .curita{
    position: absolute;
    z-index: 150;
    top: 60vh;
    rotate: 115deg;
    left: 73vw;
    scale: .8;

    
  }
  .logout{
    color: black;
    position: absolute;
    font-size: 2.3em;
    top: 80vh;
    left: 80vw;
    rotate: -25deg;
    background: transparent;
    animation: pulse 0.5s;
    animation-iteration-count: 1;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    color: black;
    
  }
  .logout:hover{
    color: rgb(148, 36, 50);
  }
  .navoff{
    z-index: -1;
    opacity: 0;
    transition: opacity 1s;
    position: relative;
    left: -900vw;  
  }
  .navCards{
    transition: opacity 1s;
    opacity: 1;
    background-image: url(./cardlogo.png);
    background-size: 15vw;
    background-repeat: no-repeat;
    background-position-y: 6vw;
    background-position-x: 4vw;
    position: absolute;
    top: 38vh;
    left: 37vw;
    border-radius: 50%;
    position: absolute;
    z-index: 170;
    width: 25vw;
    height: 25vw;
  }
  .navCards:hover {
    animation: jump 1s ease-in-out infinite;
  }
  .navAbout {
    transition: opacity 1s;
   background-image: url(./about.png);
   background-repeat: no-repeat;
   background-size: 8vw;
    background-size: 15vw;
    background-repeat: no-repeat;
    background-position-y: 6vw;
    background-position-x: 4vw;
    position: absolute;
    top: 38vh;
    left: 37vw;
    border-radius: 50%;
    position: absolute;
    z-index: 170;
    width: 25vw;
    height: 25vw;
    opacity: 0;
    pointer-events: none;
  }
  
  .navAbout.visible {
    opacity: 1;
    pointer-events: auto;
  }
  
  .naves{
    transition: opacity 1s;
    opacity: 0;
    background-size: 15vw;
    background-repeat: no-repeat;
    background-position-y: 6vw;
    background-position-x: 4vw;
    position: absolute;
    top: 35vh;
    left: 37vw;
    border-radius: 50%;
    position: absolute;
    z-index: 170;
    width: 25vw;
    height: 25vw;
  
  }
  .navAbout:hover {
    animation: jump 1s ease-in-out infinite;
  }
  
  @keyframes jump {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }